.Card {
    max-width: 382px;
    min-width: 382px;
    max-height: 241px;
    min-height: 241px;
    padding: 0rem;
    border-radius: 10px;
    background-color: #D0D0D0;  
  }

  .ninja {
    max-width: 382px;
    min-width: 382px;
    max-height: 241px;
    min-height: 241px;
    padding: 0rem;
    border-radius: 10px;
    background-color: black;
    color: #FFFFFF;
  }

  .evil {
    max-width: 382px;
    min-width: 382px;
    max-height: 241px;
    min-height: 241px;
    padding: 0rem;
    border-radius: 10px;
    background-color: #F33355;
    color: #FFFFFF;
  }

  .blockchain {
    max-width: 382px;
    min-width: 382px;
    max-height: 241px;
    min-height: 241px;
    padding: 0rem;
    border-radius: 10px;
    background-color: #8B58F9;
    color: black;
  }

  .bitcoin {
    max-width: 382px;
    min-width: 382px;
    max-height: 241px;
    min-height: 241px;
    padding: 0rem;
    border-radius: 10px;
    background-color: #FFAE34;
    color: black;
  }

  .chipAndVendor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .vendor {
    margin-top: 1.5rem;
    margin-right: 1.2rem;
  }

  .cardHolder {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 20px;
    font-size: 12px;
  }

  .name {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 27px;
    margin-top: 2px;
    font-size: 18px;
  }

  
  

  .cardNr {
    display: flex;
    justify-content: center;
    font-size: 26px;
    word-spacing: 9px;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .cardChip {
    margin-top: 10px;
    margin-left: 16px;
  }

 .showRemoveBtn {
  background-color: lightgray;
  border-radius: 5px;
  border-width: 0;
  color: red;
  font-size: 8px;
  margin-left: 2px;
  }

  .hideRemoveBtn {
    display: none;
  }

 