



.AddCard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.backToWallet {
    border-radius: 8px;
    padding: 5px;
    font-size: 19px;
    margin-left: 3rem;
    margin-right: 3rem;
    color: orange;
}


